.collectionContainer {
	display: flex;
	flex-direction: column;
	border: 0.1rem solid red;
}

.collectionNavigation {
	min-height: 5rem;
	background-color: #666666;
}

.fetchCollectionBtn {

}

.spinCardContainer {
	flex-grow: 1;
	display: grid;
	grid-template-columns: repeat(4, auto);
	justify-content: space-evenly;
	overflow-x: scroll;
	padding-top: 0.5rem;
}

.spinCardContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
  justify-content: center;
	height: 30rem;
	width: 20rem;
	font-size: 1.5rem;
	background-color: aliceblue;
  border-radius: 0.5rem;
  margin: 0.5rem auto;
  padding-top: .5rem;
}

.noDataFound {

}

.spinCard:hover {
	transform: scale(1.025);
	background-color: #c4c4c4;
}

.spinCardInfo {
	border: 0.10rem solid black;
	border-radius: 0.25rem;
	height: 10rem;
	width: 90%;
	margin: auto;
	font-size: 1.5rem;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	text-align: center;
}

.spinCardAlbumName {

}

.spinCardAlbumTitle {
	display: flex;
	align-items: center;
  justify-content: center;
  margin: auto;
}

.spinCardAlbumImg {
	width: 90%;
	border-radius: .5rem;
}

.spinCardYear {

}