.dashboardWrapper {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	background-color: darkgray;
	height: 8rem;
	width: 100vw;
}

.statusContainer {
	flex-grow: 1;
	background-color: bisque;
	display: flex;
	flex-direction: column;
}

.headerTitle {
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: Audiowide;
	font-size: 3rem;
	height: 6rem;
}

.sourcesContainer {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	font-family: Laila_reg;
	text-align: center;
}

.sourcesContainer p {
	font-size: 1.5rem;
}

.sourcesAvailable {
	flex-wrap: nowrap;
}

.sourceCard {

}

.mediaSources {
	flex-grow: 1;
	display: flex;
  justify-content: space-evenly;
  font-size: 1.25rem;
}

.loginStatusContainer {
	display: flex;
	justify-content: center;
  width: 12rem;
  background-color: #949292;
  font-family: Orbitron;
}

.loginStatusContainer a {
	text-decoration: none;
	font-size: 2rem;
	margin: auto;
}