.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
}

.userName {
	flex-grow: 1;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}

.userName span {
	font-size: 1.75rem;
}

.inputButton {

}