.loginWrapper {
	margin: 8rem auto;
  background: honeydew;
  display: flex;
  flex-direction: column;
  border: 0.25rem solid var(--ac-orange);
  border-radius: 0.5rem;
  padding: 1rem;
}

.titleContainer {
	display: flex;
	flex-direction: column;
}

.closeLoginWindow {
	display: flex;
  justify-content: flex-end;
}

.closeLoginWindow img {
	height: 4rem;
	width: 4rem;
}

.title p {
	font-family: Audiowide;
	font-size: 4rem;
	text-align: center;

}


.inputContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 3rem 0;
}

.inputWrapper {
	display: flex;
	flex-direction: column;
	height: 10rem;
}

.inputBox {
	width: 30rem;
	height: 5rem;
	margin: 1rem auto;
}

.inputButton {
	width: 18rem;
	height: 4rem;
}

.errorLabel {
	color: red;
	align-self: start;
	padding-left: 2rem;
}
