.wrapper {
	display: flex;
	flex-direction: column;
}

.container {
	min-height: 5rem;
	background-color: #666666;
}

.container p {

}

.cardsWrapper {
	display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
  margin: auto;
}

.collectionsLayout {
	flex-grow: 1;
	display: grid;
	grid-template-columns: repeat(4, auto);
	justify-content: space-evenly;
	overflow-x: scroll;
	padding-top: 0.5rem;
}