@font-face {
	font-family: Audiowide;
	src: url('./assets/fonts/Audiowide/Audiowide-Regular.ttf');
}

@font-face {
	font-family: Laila_reg;
	src: url('./assets/fonts/Laila/Laila-Regular.ttf');
}

@font-face {
	font-family: Orbitron;
	src: url('./assets/fonts/Orbitron/Orbitron-VariableFont_wght.ttf');
}

:root {
	--ac-sand: 					#F7DE8D;
	--ac-orange:				#FBB040;
	--ac-green: 				#AAC27E;
	--ac-green-opaque: 	#AAC27E69;
	--ac-blue:					#9FCFCA;
	--ac-brown: 				#594A42;
}

*,
*:before,
*:after {
	margin: 0;
	box-sizing: inherit;
}

html {
	font-size: 62.5%;
}

html, body {
	box-sizing: border-box;
	overflow: auto;
}

body {
}