.headerContainer {
	grid-row: Dashboard;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-end;
	background-color: darkgray;
}

.headerTitle {
	flex-grow: 1;
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: Audiowide;
	font-size: 2.5rem;
}

.loginStatusContainer {
	display: flex;
	justify-content: center;
  width: 12rem;
  background-color: #949292;
  font-family: Orbitron;
}

.loginStatusContainer a {
	text-decoration: none;
	font-size: 2rem;
	margin: auto;
}

.isLoggedInContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
}

.isLoggedInContainer p  {
	font-size: 1.2rem;
	height: 1.5rem;
}

.activeUserName {
	flex-grow: 1;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 3rem;
}